<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Mundo</title>
</head>
<body>
    <h1>Karina</h1>
    <% for(let art of poner) { %>   
        <h1> <%= art._id   %>  </h1>
        <p> <%= art.value   %></p>
    <%}%>

</body>
</html>